{# Craft uses Twig Macros to create reusable form elements
that you can use throughout your templates.
http://twig.sensiolabs.org/doc/tags/macro.html
You can take a look at the form macros available in the imported
forms file here: /craft/app/templates/_includes/forms.html

If you want to access all of the form macros, instead of just one,
you can import the full form file:
{% import "_includes/forms" as forms %}

#}

{% import "_includes/forms" as forms %}

{# Email Address #}
{{forms.textField({
  name:   name,
  id:     value,
  required:     required,
  value:  form.yourEmail is defined ? form.yourEmail : '',
})  }}