{#
 # Contact Form Sample Code
 # ------------------------
 #}

{% extends "_layout" %}

{% set form = craft.formBuilder.getFormByHandle('ENTER YOUR FORM HANDLE HERE') %}
{% set tabs = form.fieldLayout.getFieldLayout().getTabs() %}
{% set pluginScripts = craft.formBuilder.pluginScripts(form) %}

{% block content %}
  <h1>{{ entry.title }}</h1>

  <form method="post" accept-charset="utf-8" name="{{ form.handle }}" class="formbuilder-form" id="{{ form.handle }}" data-parsley-errors-container=".formbuilder-notification"{% if form.hasFileUploads %} enctype="multipart/form-data" {% endif %}>
    <input type="hidden" name="action" value="formBuilder/entries/saveFormEntry">
    <input type="hidden" name="formredirect" data-redirect="{{form.successPageRedirect}}" value="{{form.redirectUrl}}">
    <input type="hidden" name="formHandle" value="{{form.handle}}">
    
    {% for tab in tabs %}
      {% set fields = tab.getFields() %}
      
      <fieldset class="{{loop.index}}">
        <legend>{{ tab.name }}</legend>
        {% for field in fields %}
          {% set input = craft.formBuilder.getInputHtml(field) %}
          {{ input | raw }}
        {% endfor %} 
      </fieldset>
    {% endfor %}
    
    {# Error/Success Messages #}
    {% if craft.session.hasFlash('error') or craft.session.hasFlash('success') %}
      {% if craft.session.hasFlash('error') %}<div class="formbuilder-notification"><p class="error-message">{{ craft.session.getFlash('error') | raw }}<p></div>{% endif %}
      {% if craft.session.hasFlash('success') %}<div class="formbuilder-notification success"><p class="success-message">{{ craft.session.getFlash('success') | raw }}</p></div>{% endif %}
    {% else %}
      <div class="formbuilder-notification"></div>
    {% endif %}

    <button type="submit">Submit Message</button>


  </form>

{% endblock %}