{%- set options = (options is defined ? options : []) %}
{%- set values = (values is defined ? values : []) %}
{%- set label = (name is defined ? name: null) %}
{%- set instructions = (instructions is defined ? instructions : null) %}
{%- set handle = (handle is defined and handle ? handle~'[]' : null) %}

<div class="field checkboxes"{% if id %} id="{{ id }}"{% endif %}>

	{% if name is defined and name %}
	<input type="hidden" name="{{ handle }}" value="">
	{% endif -%}

	<div class="heading">
	{% if label %}
		<label{% if required is defined and required %} class="required"{% endif %}{% if id %} for="{{ id }}"{% endif %}>
			{{- label|raw -}}
		</label>
	{% endif %}
	{% if instructions %}<div class="instructions">{{ instructions }}</div>{% endif %}
	</div>

	{%- for key, option in options %}
		{%- set optionLabel = (option.label is defined ? option.label : option) %}
		{%- set optionValue = (option.value is defined ? option.value : key) -%}
			{% include "_includes/forms/checkbox" with {
				parentLabel:	(loop.first and label is defined ? label : null),
				label:     		optionLabel,
				id:        		(loop.first and id is defined ? id : null),
				name:      		name,
				handle:      	handle,
				value:     		optionValue,
				checked:   		(optionValue in values),
				required:  		(required is defined and required ? required : null),
				autofocus: 		(autofocus is defined and autofocus and loop.first and not craft.request.isMobileBrowser(true))
			} only %}
	{%- endfor %}

</div>
