{%- set type = (type is defined ? type : 'email') %}
{%- set label = (name is defined ? name: null) %}
{%- set instructions = (instructions is defined ? instructions : null) %}
{%- set warning = (warning is defined ? warning : null) %}
{%- set errors = (errors is defined ? errors : null) -%}
{%- set class = [
	'text',
	(class is defined and class ? class : null),
	(placeholder is defined and placeholder ? 'nicetext' : null),
	(type is defined and type == 'password' ? 'password' : null),
	(disabled is defined and disabled ? 'disabled' : null),
	(size is defined and size ? null : 'fullwidth')
]|filter|join(' ') %}

<div class="field text{% if id %} {{ id }}{% endif %}">
	{%- if type == 'password' %}<div class="passwordwrapper">{% endif -%}

	<div class="heading">
	{% if label %}
		<label{% if required is defined and required %} class="required"{% endif %}{% if id %} for="{{ id }}"{% endif %}>
			{{- label|raw -}}
		</label>
	{% endif %}
	{% if instructions %}<div class="instructions">{{ instructions }}</div>{% endif %}
	</div>

	<div class="input{% if errors %} errors{% endif %}">
		<input class="{{ class }}" type="{{ type }}"
			{%- if id is defined %} id="{{ id }}"{% endif %}
			{%- if size is defined %} size="{{ size }}"{% endif %}
			{%- if name is defined %} name="{{ name.handle }}"{% endif %}
			{%- if value is defined %} value="{{ value }}"{% endif %}
			{%- if showCharsLeft is defined and showCharsLeft %} data-show-chars-left{% endif %}
			{%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
			{%- if autocomplete is not defined or not autocomplete %} autocomplete="off"{% endif %}
			{%- if disabled is defined and disabled %} disabled {% endif %}
			{%- if readonly is defined and readonly %} readonly {% endif %}
			{%- if placeholder is defined %} placeholder="{{ placeholder }}"{% endif %}
			{%- if required is defined %} {%- if required == '1' %} required{% endif %}{% endif %}
			 data-parsley-required-message="{{label}} field is required">
		{%- if type == 'password' %}</div>{% endif %}
	</div>
	
	{% if warning %}
		<p class="warning">{{ warning }}</p>
	{% endif %}
	{% include "_includes/forms/errorList" with { errors: errors } %}

</div>