{%- set label = (name is defined ? name: null) %}
{%- set instructions = (instructions is defined ? instructions : null) %}
{%- set warning = (warning is defined ? warning : null) %}
{%- set errors = (errors is defined ? errors : null) -%}
{%- set multiple = (multiple is defined ? multiple : null) -%}

<div class="field file{% if id %} {{ id }}{% endif %}">
  
  <div class="heading">
  {% if label %}
    <label{% if required is defined and required %} class="required"{% endif %}{% if id %} for="{{ id }}"{% endif %}>
      {{- label|raw -}}
    </label>
  {% endif %}
  {% if instructions %}<div class="instructions">{{ instructions }}</div>{% endif %}
  </div>

  <div class="input{% if errors %} errors{% endif %}">
    <input type="file" {% if multiple %} multiple{% endif %}
  	{%- if id is defined %} id="{{ id }}"{% endif %}
  	{%- if class is defined %} class="{{ class }}"{% endif %}
  	{%- if name is defined %} name="{{ name.handle }}"{% endif %}
  	{%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
  	{%- if disabled is defined and disabled %} disabled{% endif %}>
  </div>

  {% if warning %}
    <p class="warning">{{ warning }}</p>
  {% endif %}
  {% include "_includes/forms/errorList" with { errors: errors } %}

</div>