{%- set options = (options is defined ? options : []) %}
{%- set label = (name is defined ? name: null) %}
{%- set instructions = (instructions is defined ? instructions : null) %}
{%- set value = (value is defined ? value : null) %}

<div class="fb-field radio"{% if id %} id="{{ id }}"{% endif %}>

	<div class="heading">
	{% if label %}
		<label{% if required is defined and required %} class="required"{% endif %}{% if id %} for="{{ id }}"{% endif %}>
			{{- label|raw -}}
		</label>
	{% endif %}
	{% if instructions %}<div class="instructions">{{ instructions }}</div>{% endif %}
	</div>

	{%- for key, option in options %}
		{%- set optionLabel = (option.label is defined ? option.label : option) %}
		{%- set optionValue = (option.value is defined ? option.value : key) -%}
			{% include "_includes/forms/radio" with {
				parentLabel:	(loop.first and label is defined ? label : null),
				label:     optionLabel,
				id:        (id is defined and loop.first ? id : null),
				name:      (name is defined ? name : null),
				value:     optionValue,
				checked:   (optionValue == value),
				required:  (required is defined and loop.last ? required : null),
				autofocus: (autofocus is defined and autofocus and loop.first and not craft.request.isMobileBrowser(true))
			} only %}
	{% endfor %}
	
</div>