#page-header {
  padding: 5px 0; }
  #page-header > h1 {
    display: none; }

#extra-headers a {
  display: block;
  outline: none; }
#extra-headers .icon {
  float: left;
  margin-top: 14px; }
#extra-headers #layers {
  width: 40px;
  height: 40px; }
  #extra-headers #layers * {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
#extra-headers:hover #layer3 {
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s; }
#extra-headers:hover #layer2 {
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s; }
#extra-headers:hover #layer1 {
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px); }

#entryDetails header h1 {
  font-weight: bold;
  margin-bottom: 10px; }
  #entryDetails header h1 span {
    display: block;
    padding-top: 5px;
    color: black;
    font-size: 12px; }
#entryDetails header h2 {
  margin: 0;
  font-size: 12px; }
  #entryDetails header h2 span {
    color: #da5a47; }

#sidebar .buttons.first {
  display: none; }

#content .toolbar {
  display: none; }

#fieldlayoutform {
  background: none;
  padding: 0; }
  #fieldlayoutform h1 {
    margin-bottom: 24px;
    font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif;
    font-size: 30px;
    line-height: 1;
    color: #da5a47;
    font-weight: normal !important;
    font-style: normal;
    text-transform: none;
    float: left;
    margin-right: 40px; }
  #fieldlayoutform h2 {
    margin-bottom: 24px;
    font-family: "Roboto", HelveticaNeue-Light, HelveticaNeue, sans-serif;
    font-size: 16px;
    line-height: 1;
    color: black;
    font-weight: 500 !important;
    font-style: normal;
    text-transform: none;
    text-decoration: none; }
  #fieldlayoutform .newtabbtn-container .btn.icon {
    text-transform: none;
    font-style: normal; }
    #fieldlayoutform .newtabbtn-container .btn.icon:before {
      content: "+"; }
  #fieldlayoutform .fld-tab .tabs {
    padding: 0 1px; }
    #fieldlayoutform .fld-tab .tabs .tab {
      border: 1px solid #b9b9b9;
      border-bottom-color: white;
      border-radius: 0; }
      #fieldlayoutform .fld-tab .tabs .tab span {
        font-family: Roboto, HelveticaNeue, sans-serif;
        font-style: normal;
        font-weight: 500;
        text-transform: none;
        color: #2e2e2e; }
      #fieldlayoutform .fld-tab .tabs .tab a:before {
        color: #c9c9c9; }
  #fieldlayoutform .fld-tab.fld-insertion .tab {
    border: 1px dotted #b9b9b9;
    border-bottom-color: white !important; }
  #fieldlayoutform .fld-tab.fld-insertion .fld-tabcontent {
    border: 1px dotted #b9b9b9; }
  #fieldlayoutform .fld-tab .fld-tabcontent {
    border: 1px solid #b9b9b9; }
    #fieldlayoutform .fld-tab .fld-tabcontent .fld-field {
      padding: 8px;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      #fieldlayoutform .fld-tab .fld-tabcontent .fld-field:last-child {
        border-bottom: none; }
      #fieldlayoutform .fld-tab .fld-tabcontent .fld-field.fld-required span:after {
        color: #f07575; }
      #fieldlayoutform .fld-tab .fld-tabcontent .fld-field a:before {
        color: #c9c9c9; }
    #fieldlayoutform .fld-tab .fld-tabcontent span {
      font-family: Roboto, HelveticaNeue, sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform: none;
      color: #2e2e2e; }

.fld-tab.fld-tab.draghelper .tabs {
  padding: 1px !important; }
  .fld-tab.fld-tab.draghelper .tabs .tab {
    border-radius: 0; }

.fld-tab.draghelper .tabs .tab {
  border-bottom-color: white !important; }

.fld-tab.draghelper .tabs .tab, .fld-tab.draghelper .fld-tabcontent, .fld-field.draghelper {
  background: transparent;
  box-shadow: none;
  border: 1px solid #58d9b9; }
  .fld-tab.draghelper .tabs .tab span, .fld-tab.draghelper .fld-tabcontent span, .fld-field.draghelper span {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: none;
    color: #2e2e2e; }
  .fld-tab.draghelper .tabs .tab a:before, .fld-tab.draghelper .fld-tabcontent a:before, .fld-field.draghelper a:before {
    color: #c9c9c9; }
  .fld-tab.draghelper .tabs .tab .fld-field, .fld-tab.draghelper .fld-tabcontent .fld-field, .fld-field.draghelper .fld-field {
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .fld-tab.draghelper .tabs .tab .fld-field:last-child, .fld-tab.draghelper .fld-tabcontent .fld-field:last-child, .fld-field.draghelper .fld-field:last-child {
      border-bottom: none; }
    .fld-tab.draghelper .tabs .tab .fld-field.fld-required span:after, .fld-tab.draghelper .fld-tabcontent .fld-field.fld-required span:after, .fld-field.draghelper .fld-field.fld-required span:after {
      color: #f07575; }
    .fld-tab.draghelper .tabs .tab .fld-field a:before, .fld-tab.draghelper .fld-tabcontent .fld-field a:before, .fld-field.draghelper .fld-field a:before {
      color: #c9c9c9; }
  .fld-tab.draghelper .tabs .tab span, .fld-tab.draghelper .fld-tabcontent span, .fld-field.draghelper span {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    color: #2e2e2e; }

.fld-field.draghelper {
  background: transparent;
  box-shadow: none;
  border: none; }
  .fld-field.draghelper span {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    color: #2e2e2e; }

/*# sourceMappingURL=formBuilder.css.map */
