@import "mixins";

// ------------------------------------------
// Variables
// ------------------------------------------
$color-red: #f07575;
$color-teal: #58d9b9; 
$color-green: #4bc51d; 

// ------------------------------------------
// Plugin Header
// ------------------------------------------
#page-header {
  padding: 5px 0;
  & > h1 { display: none;}

  .github-badges {
    @include clearfix;
    a {
      float: left;
      margin-right: 4px;
    }
  }
}

#extra-headers {
  a {
    display: block;
    outline: none;
  }
  .icon {
    float: left;
    margin-top: 14px;
  }
  #layers {
    width: 40px;
    height: 40px;
    * { @include transition(all .3s ease); }
  }

  &:hover {
    #layer3 { @include transform(translateY(5px)); @include transition-delay(0.2s); }
    #layer2 { @include transform(translateY(5px)); @include transition-delay(0.1s); }
    #layer1 { @include transform(translateY(5px)); }
  }
}

// ------------------------------------------
// Entry Details
// ------------------------------------------
#entryDetails {
  header {
    h1 {
      font-weight: bold;
      margin-bottom: 10px;
      span {
        display: block;
        padding-top: 5px;
        color: black;
        font: {
          size: 12px;
        }
      }
    }
    h2 {
      margin: 0;
      font: {
        size: 12px;
      }
      span {
        color: #da5a47;
      }
    }
  }
}

// ------------------------------------------
// Entries Sidebar
// ------------------------------------------
#sidebar {
  // .buttons.first { display: none; }
}

// ------------------------------------------
// Entries Content
// ------------------------------------------
#content {
  // .toolbar { display: none; }
}

// ------------------------------------------
// From Settings
// ------------------------------------------
#create-form {
  h1 {
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    &:before, &:after {
      content: "";
      display: block;
      background: $color-red;
      @include size(10px 2px);
      @include position(absolute, 17px 20px null null);
      @include transition(all .4s cubic-bezier(0.82, 0.17, 0.04, 0.85));
      opacity: .5;
    }
    &:before { @include transform(rotate(90deg)); }
    // Active
    &.active {
      &:before, &:after { opacity: 1; }
      &:before { @include transform(rotate(0)); }
    }
    // Hover
    &:hover {
      &:before, &:after {
        opacity: 1; 
      }
    }
  }
  .fieldset { 
    margin-top: 24px;
    &.child {
      margin-top: 10px;
    }
    &.settings {
      div:nth-child(5) { margin-bottom: 0; }
      div:nth-child(8) { margin-bottom: 0; }
    }
    &.notifications {
      div:nth-child(1) { margin-bottom: 0; }
      div:nth-child(3) { margin-bottom: 0; }
    }
  }

  input[type=text] {
    box-shadow: none;
    border: 1px solid rgba(black, .2);
    padding: 12px;
    @include transition(border .5s ease);
    &:focus {
      border: 1px solid rgba(black, .5);
    }
  }
}

// Notifications
#notifications {

}

// ------------------------------------------
// Notifications Container
// ------------------------------------------
#notifications-container {
  width: 100%;
  height: 100%;
  hr { margin: 14px 0 !important; }
}

// ------------------------------------------
// Fields Container
// ------------------------------------------
#fields-container {
  #fieldlayoutform {
    margin-top: 24px;
  }
}

// ------------------------------------------
// Field Layout Designer
// ------------------------------------------
#fieldlayoutform {
  background: none;
  padding: 0;

  h1 {
    margin-bottom: 24px;
    font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif;
    font-size: 30px;
    line-height: 1;
    color: #da5a47;
    font-weight: normal !important;
    font-style: normal;
    text-transform: none;
    float: left;
    margin-right: 40px;
  }

  h2 {
    margin-bottom: 24px;
    font-family: "Roboto", HelveticaNeue-Light, HelveticaNeue, sans-serif;
    font-size: 16px;
    line-height: 1;
    color: black;
    font-weight: 500 !important;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
  }

  .create-field {
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    margin: 5px 5px 0 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    float: left;
    color: #29323d;
    background-image: linear-gradient(white, #fafafa);
    height: 30px;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    @include appearance(none);
    @include user-select(none);
    box-sizing: border-box;
    &:hover {
      background-image: linear-gradient(#fafafa, white);
    }
  }

  .newtabbtn-container {
    position: relative;
    top: 1px;
    left: 1px;
    .btn.icon {
      text-transform: none;
      font-style: normal;
      &:before {
        content: "+";
      }
    }
  }

  // Field Tabs
  .fld-tab {
    .tabs {
      padding: 0 1px;
      .tab {
        border: 1px solid #b9b9b9;
        border-bottom-color: white;
        border-radius: 0;
        span {
          font-family: Roboto, HelveticaNeue, sans-serif;
          font-style: normal;
          font-weight: 500;
          text-transform: none;
          color: #2e2e2e;
        }
        a {
          &:before {
            color: #c9c9c9;
          }
        }
      }
    }

    &.fld-insertion {
      .tab {
        border: 1px dotted #b9b9b9;
        border-bottom-color: white !important;
      }
      .fld-tabcontent {
        border: 1px dotted #b9b9b9;
      }
    }

    .fld-tabcontent {
      border: 1px solid #b9b9b9;
      .fld-field {
        padding: 8px;
        border: none;
        border-bottom: 1px solid rgba(black, .1);
        &:last-child { border-bottom: none; }
        &.fld-required {
          span:after {
            color: $color-red;
          }
        }
        a {
          &:before {
            color: #c9c9c9;
          }
        }
      }
      span {
        font-family: Roboto, HelveticaNeue, sans-serif;
        font-style: normal;
        font-weight: 400;
        text-transform: none;
        color: #2e2e2e;
      }
    }

  }

}

.fld-tab.fld-tab.draghelper .tabs { padding: 1px !important; .tab { border-radius: 0; } }
.fld-tab.draghelper .tabs .tab {
  border-bottom-color: white !important;
}
.fld-tab.draghelper .tabs .tab, .fld-tab.draghelper .fld-tabcontent, .fld-field.draghelper { 
  background: transparent; 
  box-shadow: none; 
  border: 1px solid $color-teal;
  span {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: none;
    color: #2e2e2e;
  }
  a {
    &:before {
      color: #c9c9c9;
    }
  }
  .fld-field {
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgba(black, .1);
    &:last-child { border-bottom: none; }
    &.fld-required {
      span:after {
        color: $color-red;
      }
    }
    a {
      &:before {
        color: #c9c9c9;
      }
    }
  }
  span {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    color: #2e2e2e;
  }
}

.fld-field.draghelper { 
  background: transparent; 
  box-shadow: none; border: 
  none; 
  span {
    font-family: Roboto, HelveticaNeue, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    color: #2e2e2e;
  }
}
