{% import "_includes/forms" as forms %}

{% set id = craft.request.getLastSegment() %}

{% if id != 'new' %}

	{% set fieldId = craft.fields.getFieldById(id) %}
	{% set fields = craft.fields.getFieldsByGroupId(fieldId.groupId) %}
	{% set groupOptions = [] %}
	{% set options = [] %}

	<hr />

	<h2>Conditions/Rules</h2>

	{% for field in fields %}
		{% if field.type == 'FormBuilder_Dropdown' %}
			{% set groupOptions = groupOptions|merge([{ label: field.name, value: field.handle }]) %}
		{% endif %}
	{% endfor %}

{# 	{% for foo in groupOptions%}
		{% set options = craft.fields.getFieldByHandle(foo.value) %}
	{% endfor %}

	{{ options | inspect }} #}


	{{ forms.select({
		label: "",
		id: 'showThisField',
		name: 'showThisField',
		options: groupOptions ? groupOptions : '',
		value: settings.showThisField ? settings.showThisField : settings.showThisField
	}) }}

	{{ forms.select({
		label: "",
		id: 'equalNotEqual',
		name: 'equalNotEqual',
		options: [{label: 'is equal to', value: '1'}, {label: 'is not equal to', value: '0'}],
		value: settings.equalNotEqual ? settings.equalNotEqual : settings.equalNotEqual
	}) }}

	{# {{ forms.select({
		label: "",
		id: 'equalNotEqual',
		name: 'equalNotEqual',
		options: [{label: 'is equal to', value: '1'}, {label: 'is not equal to', value: '0'}],
		value: settings.equalNotEqual ? settings.equalNotEqual : settings.equalNotEqual
	}) }} #}

{% endif %}

{% set field = craft.fields.getFieldByHandle('gender') %}
{# {{ field |inspect}} #}

<div id="search-results"></div>
<div class="js-sendAsAjax">TESTING</div>

{% set conditionsJs %}
	{# var theField = $("#{{ "showThisField"|namespaceInputId }}")
	var fieldHandleName = theField.val();

	theField.on('change', function() {
		var value = $(this).val();
	});


	{% set field = craft.fields.getFieldByHandle('gender') %} #}

	$('.js-sendAsAjax').on('click', function(e) {
		e.preventDefault();

		var url = window.Craft.baseUrl + '/plugins/formbuilder/templates/_includes/forms/select.html';
		var data = $.parseJSON('{"testing":"test","another":"more"}');

		console.log(data);

		$.post(url, data, function(result) {
	    $('#types-FormBuilder_ConditionalPlainText-search-results').html(result);
		});
	});

{% endset %}

{% includeJs conditionsJs %}

























<hr />

{{ forms.textField({
	label: "Placeholder Text"|t,
  instructions: "The text that will be shown if the field doesn’t have a value."|t,
	id: 'placeholder',
	name: 'placeholder',
	value: settings.placeholder,
	translatable: true,
	errors: settings.getErrors('placeholder')
}) }}

{{ forms.textField({
	label: "Max Length"|t,
	instructions: "The maximum length of characters the field is allowed to have."|t,
	id: 'maxLength',
	name: 'maxLength',
	value: settings.maxLength,
	size: 3,
	errors: settings.getErrors('maxLength')
}) }}

{{ forms.checkboxField({
	label: "Allow line breaks"|t,
	name: 'multiline',
	checked: settings.multiline,
	toggle: 'initialRowsContainer'
}) }}



<div id="initialRowsContainer" class="nested-fields{% if not settings.multiline %} hidden{% endif %}">
	{{ forms.textField({
		label: "Initial Rows"|t,
		id: 'initialRows',
		name: 'initialRows',
		value: settings.initialRows,
		size: 3,
		errors: settings.getErrors('initialRows')
	}) }}
</div>
