{% if form is defined %}
  <h3>Hi, you have filled out a {{ form.name }} on {{ siteName }}. Bellow is your submission details.</h3>
{% endif %}
<hr>
{% if data is defined %}
  <table>
  {% for key, value in data %}
    {% set field = craft.fields.getFieldByHandle(key) %}

    {% if value %}
    <tr>
      <td><strong>{{ field.name }}: </strong></td>

      {% if value | checkArray == '1' %}
      <td>
      {% for key, item in value %}
        {% if item != '' %}
          {{ item }},  
        {% endif %} 
      {% endfor %}
      </td>
      {% else %}
      <td>{{ value }}</td>
      {% endif %}
      
    </tr>
    {% endif %}
  {% endfor %}
  <tr>
    <td>Have a nice day!</td>
  </tr>
  </table>
{% endif %}